body {

    background-color: rgb(189, 82, 82);
    background-image: url(https://www.xtrafondos.com/wallpapers/geometria-3d-3586.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}