body {

    background-color: rgb(189, 82, 82);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text
{
    position: top;
    text-align: right;
    font-family: fantasy;
    font-size: 50px;
  color: rgb(126, 25, 0); 
}
.text2{
   text-align: left;
    font-family: fantasy;
    font-size: 50px;
  color: rgb(126, 25, 0); 
}