body {

    background-image: url(https://www.xtrafondos.com/wallpapers/geometria-3d-3586.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
background: rgb(0, 0, 0,-1);
padding: 20px;
}
.ingresar 
{
    background: rgb(8, 77, 87);
}