body {

    background-image: url(https://i.ytimg.com/vi/n2KH2GH7xt0/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
background: rgb(0, 0, 0,-1);
padding: 20px;
}
.ingresar 
{
    background: rgb(8, 77, 87);
}